<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.carrerasenlinea.mx/logos/original/logo-instituto-tecnologico-y-de-estudios-superiores-de-occidente.png" width="150px" height="100px" /> 


&nbsp;
# Administración activa Vs Administración pasiva del capital
## Equipo B

***Emilio de la Torre***


***José Raúl Gallardo***


***Adrian Garcia***

La idea es replicar un ETF con posiciones en directo. Te han asignado la tarea de hacer un ejercicio simple de replicar la construcción de un portafolio de inversión y un criterio de rebalanceo lo más parecido a un ETF de ishares que tu selecciones. Esto con la finalidad de comparar los resultados de haber rebalanceado periódicamente el portafolio, ó, no haberlo hecho y continuar todo un año con las mismas posiciones.

## Limpieza y extracción de datos

### Importando librerías a utilizar

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Importando los datos del ETF

In [2]:
#etf_file = 'IVEetf.xlsx' # Dirección del archivo que contiene información del etf
#data_etf = pd.read_excel(etf_file, sheet_name=0, header=0, sep=',', index_col=None, parse_dates=False, skip_blank_lines=True) 
# Importando los datos desde el excel
#data_etf.head()

In [17]:
def s2f(to_convert):
    f = float(to_convert.replace(',',''))
    return f

In [3]:
# Función para extraer información de los etfs (csv) y los tickers de cada uno
def get_data(nFiles, file_title):
    df = []
    dr = np.arange(1,nFiles+1)
    df = [pd.read_csv(file_title+str(dr[i])+'.csv', header=1, index_col=None, parse_dates=False, skip_blank_lines=True, skiprows=9) for i in range(len(dr))]
    data = [df[i][(df[i]['Asset Class'] == 'Equity')] for i in range(len(df))]
    tickers = [list(data[i].iloc[:,0]) for i in range(len(data))]
    return data, tickers

In [4]:
# Función para sacar todos los tickers (valores únicos) de todos los archivos juntos
def unique_tickers(tickers): 
    nFiles = len(tickers)
    ticker = []
    for i in range(nFiles):
        ticker = ticker + tickers[i]
    df = pd.DataFrame(ticker)
    df_u = df.sort_values(by=0).drop_duplicates()
    unique_tickers = df.iloc[:,0].unique()
    return unique_tickers

In [5]:
# Función para extraer el número de acciones en circulación de los etf's de ishares.
def n_shares(nFiles, file_title):
    dr = np.arange(1,nFiles+1)
    df = [pd.read_csv(file_title+str(dr[i])+'.csv', index_col=None, parse_dates=False, skip_blank_lines=True, nrows=6) for i in range(len(dr))]
    all_shares = [df[i].iloc[3,0] for i in range(len(df))]
    all_shares_int = [int(float(all_shares[i].replace(',',''))) for i in range(len(all_shares))]
    return all_shares_int

In [6]:
etf_shares = n_shares(13, 'IVE_Holdings')

In [7]:
data_etf, tickers = get_data(13, 'IVE_Holdings')

In [8]:
all_tickers = unique_tickers(tickers)
len(all_tickers)

453

### Extracción de precios de Quandl

In [11]:
import quandl
quandl.ApiConfig.api_key = "JyBxQPPNx_LTemwn-VbD" # Api para acceso a Quandl

In [12]:
d_quandl = quandl.get_table('WIKI/PRICES', ticker = [all_tickers], qopts = {'columns': ['ticker', 'date', 'close']}, 
                        date = {'gte': '2017-03-01', 'lte': '2018-03-01'}, paginate=True)
        #De la línea anterior se obtinen los precios de las acciones en un DataFrame.
d_quandl.head()

     ticker       date  close
None
0      ZION 2018-03-01  54.38
1      ZION 2018-02-28  54.97
2      ZION 2018-02-27  55.74
3      ZION 2018-02-26  56.29
4      ZION 2018-02-23  55.68

In [13]:
#A continuación de ordena el dataframe para tener los precios de los tickers en columnas
stock_prices = d_quandl.set_index('date')
stock_prices = stock_prices.pivot(columns='ticker')
stock_prices.head()

            close                                                             \
ticker          A    AAL     AAP    ABC    ABT     ACN    ADM     ADS   ADSK
date
2017-03-01  52.04  47.09  156.68  92.23  45.59  124.07  46.51  247.62  88.93
2017-03-02  51.38  45.72  157.36  91.94  45.69  124.35  45.48  243.94  87.32
2017-03-03  51.98  46.82  155.35  92.23  45.25  123.64  45.20  244.63  85.32
2017-03-06  51.25  45.31  154.25  89.99  45.13  123.24  44.76  245.45  82.94
2017-03-07  51.21  44.84  151.99  88.48  45.00  124.14  44.46  245.05  82.07

                   ...                                                    \
ticker        AEE  ...       XL   XLNX    XOM   XRAY   XRX    XYL   YHOO
date               ...
2017-03-01  54.76  ...    41.12  59.68  83.02  64.50  7.39  49.55  46.24
2017-03-02  55.12  ...    40.61  59.35  83.30  63.65  7.29  48.89  45.94
2017-03-03  54.89  ...    40.36  58.74  82.46  63.36  7.36  48.73  45.91
2017-03-06  54.89  ...    39.90  58.81  82.83  62.75  7.45  48.53  45.64
2017-03-07  54.82  ...    40.13  58.75  82.52  62.55  7.36  48.78  45.73


ticker        YUM     ZBH   ZION
date
2017-03-01  65.57  118.89  46.53
2017-03-02  65.21  118.02  44.96
2017-03-03  65.03  118.28  45.36
2017-03-06  64.50  117.22  45.33
2017-03-07  64.02  117.07  45.28

[5 rows x 449 columns]

Para tener los pesos de las acciones presentes en Quandl es necesario hacer match entre los tickers del etf y los de la fuente de precios.

In [14]:
#Extraemos los tickers de Quandl.
tickers_quandl = [stock_prices.columns[i][1] for i in range(len(stock_prices.columns))]

In [15]:
df_w = pd.DataFrame(tickers_quandl, columns=['Ticker']) # Tickers se hacen un dataframe
# Se unen todos los datos de los dataframef con los tickers
all_df_etf = [df_w.set_index('Ticker').join(data_etf[i].set_index('Ticker'), on='Ticker') for i in range(len(data_etf))]
# Limpiando los dataframes para eliminar activos que no fueron necesarios en cada mes
final_etf_data = [all_df_etf[i].dropna() for i in range(len(all_df_etf))]

In [31]:
def get_quandl_prices(tickers):
    d_quandl = quandl.get_table('WIKI/PRICES', ticker = [all_tickers], qopts = {'columns': ['ticker', 'date', 'close']}, 
                        date = {'gte': '2017-03-01', 'lte': '2018-03-01'}, paginate=True)
    prices = d_quandl.set_index('date')
    prices = prices.pivot(columns='ticker')
    return prices

## ¿Cómo se calcula el NAV (Net Asset Value) de un ETF?

Se suma el valor total de cada uno de los instrumentos que componen el ETF, y se divide entre el numero de certificados que el ETF emitió. 

$$ NAV = \frac{\sum (Títulos\,de\,cada\,acción * precio)}{Acciones\,en\,circulación\,del\,etf}$$

In [34]:
tickers_quandl = [final_etf_data[i].index.values for i in range(len(final_etf_data))]
quandl_prices = [get_quandl_prices(tickers_quandl[i]) for i in range(len(tickers_quandl))]

KeyboardInterrupt:

In [35]:
get_quandl_prices(tickers_quandl[0])

            close                                                       \
ticker          A    AAL     AAP     ABC    ABT     ACN    ADM     ADS
date
2017-03-01  52.04  47.09  156.68   92.23  45.59  124.07  46.51  247.62
2017-03-02  51.38  45.72  157.36   91.94  45.69  124.35  45.48  243.94
2017-03-03  51.98  46.82  155.35   92.23  45.25  123.64  45.20  244.63
2017-03-06  51.25  45.31  154.25   89.99  45.13  123.24  44.76  245.45
2017-03-07  51.21  44.84  151.99   88.48  45.00  124.14  44.46  245.05
2017-03-08  51.41  44.89  155.21   89.08  45.36  124.46  43.99  246.19
2017-03-09  51.43  43.33  155.15   88.61  45.63  123.18  44.42  247.93
2017-03-10  52.15  43.90  153.97   88.31  45.72  123.93  45.04  248.20
2017-03-13  52.45  42.37  154.35   89.14  45.53  124.04  44.70  247.82
2017-03-14  52.21  41.21  153.71   88.81  44.80  123.91  44.67  245.53
2017-03-15  54.10  42.09  152.92   89.48  45.32  124.80  45.01  245.55
2017-03-16  53.05  42.13  153.41   88.00  44.98  124.10  44.85  245.09
2017-03-17  53.31  41.72  152.40   87.53  45.19  125.22  44.72  245.01
2017-03-20  53.15  41.70  152.44   86.91  44.98  124.39  44.85  244.54
2017-03-21  52.66  40.42  151.22   85.91  44.80  124.64  44.95  239.29
2017-03-22  53.13  40.35  151.27   85.88  44.81  126.48  45.61  240.87
2017-03-23  53.18  41.41  150.78   85.99  44.77  120.76  45.61  242.92
2017-03-24  53.08  41.73  149.73   86.56  44.73  118.98  45.58  243.79
2017-03-27  53.24  41.74  147.80   87.48  44.70  119.39  45.35  243.43
2017-03-28  53.44  42.60  148.36   87.50  44.70  121.35  45.72  244.70
2017-03-29  53.12  41.96  149.67   89.51  44.67  120.98  46.24  245.33
2017-03-30  53.32  42.54  148.67   89.14  44.55  120.52  46.11  248.88
2017-03-31  52.87  42.30  148.26   88.50  44.41  119.88  46.04  249.00
2017-04-03  53.20  42.45  145.50   87.33  44.47  117.64  45.80  250.33
2017-04-04  52.62  40.90  143.04   86.93  44.18  118.04  45.41  250.97
2017-04-05  52.71  41.31  142.74   87.18  43.80  117.64  45.26  250.26
2017-04-06  53.15  41.72  142.56   87.64  43.67  116.81  45.25  253.36
2017-04-07  52.84  41.81  142.05   87.62  43.83  117.44  44.89  251.04
2017-04-10  52.72  42.32  142.84   88.44  43.59  117.84  44.99  247.66
2017-04-11  52.83  43.93  143.46   87.87  43.58  116.08  44.54  238.34
...           ...    ...     ...     ...    ...     ...    ...     ...
2018-01-18  72.19  58.34  115.53  100.86  59.07  160.94  40.48  255.94
2018-01-19  73.07  58.06  117.02  100.06  59.31  161.75  40.96  261.82
2018-01-22  73.48  58.10  118.03  102.66  59.57  161.43  42.75  261.85
2018-01-23  73.44  58.29  119.10  102.81  59.23  160.88  42.61  260.78
2018-01-24  73.58  54.79  120.99  104.62  61.72  160.60  42.84  259.49
2018-01-25  73.86  53.05  120.92  104.37  63.22  160.79  42.89  252.85
2018-01-26  74.82  53.07  123.64  105.48  63.42  162.55  43.59  261.85
2018-01-29  74.53  52.68  122.89  105.09  63.31  161.19  43.11  256.51
2018-01-30  72.99  52.59  119.27  102.46  62.44  159.70  42.48  254.59
2018-01-31  73.43  54.32  116.99   99.67  62.16  160.70  42.95  256.66
2018-02-01  72.83  53.88  117.29   99.29  62.18  160.46  42.46  257.11
2018-02-02  71.25  52.10  113.93   96.02  61.69  156.90  41.43  249.91
2018-02-05  68.22  49.97  109.86   91.90  58.73  151.83  40.60  238.78
2018-02-06  68.45  51.18  112.20   91.54  58.86  154.69  42.00  241.47
2018-02-07  68.06  51.40  109.93   94.22  58.67  155.15  42.19  246.75
2018-02-08  65.05  48.65  109.63   91.55  56.27  150.51  41.35  240.60
2018-02-09  66.98  48.32  109.14   89.19  57.17  153.84  41.49  240.67
2018-02-12  68.43  50.09  109.48   89.45  57.41  154.95  41.27  248.29
2018-02-13  68.34  50.87  106.22   97.77  57.64  156.84  41.34  246.26
2018-02-14  69.70  51.07  109.02   96.40  58.28  159.79  41.82  250.05
2018-02-15  72.02  51.67  108.78   97.60  59.50  161.06  43.20  240.65
2018-02-16  71.97  51.58  107.57   99.40  60.17  162.66  43.13  244.68
2018-02-20  71.08  51.72  105.35   99.94  59.12  161.44  42.57  244.57
2018-02-21  71.25  52.80  114.00   98.57  58.99  160.46  42.12  239.59
2018-02-22  70.68  52.98  110.49   97.12  58.99  160.32  41.76  238.82
2018-02-23  70.70  53.39  116.32   98.42  59.71  162.95  42.57  242.09
2018-02-26  70.58  55.00  114.85  100.58  60.53  164.74  42.17  245.66
2018-02-27  69.00  54.26  109.80   97.64  60.55  162.55  41.64  242.39
2018-02-28  68.59  54.25  114.25   95.16  60.33  161.01  41.52  240.96
2018-03-01  67.38  53.48  117.51   93.30  58.79  156.15  41.25  235.35

                           ...                                                \
ticker        ADSK    AEE  ...       XL    XLNX    XOM    XRAY    XRX    XYL
date                       ...
2017-03-01   88.93  54.76  ...    41.12  59.680  83.02  64.500   7.39  49.55
2017-03-02   87.32  55.12  ...    40.61  59.350  83.30  63.650   7.29  48.89
2017-03-03   85.32  54.89  ...    40.36  58.740  82.46  63.360   7.36  48.73
2017-03-06   82.94  54.89  ...    39.90  58.810  82.83  62.750   7.45  48.53
2017-03-07   82.07  54.82  ...    40.13  58.750  82.52  62.550   7.36  48.78
2017-03-08   83.46  54.12  ...    40.32  58.900  81.03  62.690   7.44  47.55
2017-03-09   84.24  54.12  ...    40.34  58.900  81.67  62.820   7.38  47.67
2017-03-10   86.12  53.89  ...    40.45  59.550  81.61  63.400   7.36  48.26
2017-03-13   86.69  54.19  ...    39.85  59.990  81.42  63.940   7.31  48.52
2017-03-14   85.91  54.02  ...    40.14  59.720  80.99  63.660   7.32  48.05
2017-03-15   88.40  54.79  ...    40.13  60.320  82.00  63.520   7.29  48.56
2017-03-16   86.73  54.35  ...    39.94  60.050  82.07  63.100   7.41  48.75
2017-03-17   86.22  55.05  ...    40.21  60.080  82.00  63.260   7.36  49.16
2017-03-20   86.32  54.69  ...    40.28  60.320  82.00  62.750   7.43  48.83
2017-03-21   83.64  55.49  ...    39.92  58.890  81.83  62.400   7.20  48.06
2017-03-22   84.60  56.04  ...    40.11  59.070  81.76  62.650   7.18  49.28
2017-03-23   85.69  56.05  ...    39.95  58.840  81.86  62.320   7.20  48.89
2017-03-24   86.48  56.19  ...    39.83  58.630  81.23  62.440   7.19  49.22
2017-03-27   85.44  56.05  ...    40.00  58.200  81.25  62.560   7.14  49.10
2017-03-28   85.47  55.31  ...    40.42  57.970  81.84  62.940   7.34  49.67
2017-03-29   86.40  55.13  ...    40.25  58.020  82.02  62.940   7.27  49.39
2017-03-30   86.32  54.69  ...    40.14  57.880  83.70  62.650   7.38  49.90
2017-03-31   86.47  54.59  ...    39.86  57.890  82.01  62.440   7.34  50.22
2017-04-03   85.39  54.57  ...    39.40  57.180  82.07  62.640   7.25  49.45
2017-04-04   84.95  54.72  ...    39.72  57.130  82.37  61.780   7.21  50.37
2017-04-05   83.54  55.05  ...    39.38  56.650  82.53  61.990   7.16  50.43
2017-04-06   84.07  54.71  ...    39.80  56.340  83.01  63.040   7.13  50.92
2017-04-07   84.79  54.52  ...    39.82  56.480  82.76  62.460   7.12  50.83
2017-04-10   85.66  54.71  ...    40.10  55.990  83.13  62.650   7.08  50.74
2017-04-11   85.99  54.79  ...    40.51  55.960  82.84  62.680   7.08  50.67
...            ...    ...  ...      ...     ...    ...     ...    ...    ...
2018-01-18  112.55  55.39  ...    35.13  76.300  87.43  62.310  31.37  71.11
2018-01-19  115.29  55.16  ...    35.45  75.710  87.15  61.950  31.80  71.91
2018-01-22  117.37  55.30  ...    35.99  75.440  88.25  60.800  32.64  72.65
2018-01-23  118.73  56.07  ...    36.78  75.540  88.30  61.170  32.58  72.61
2018-01-24  116.72  55.74  ...    36.86  73.480  88.53  61.830  32.36  72.57
2018-01-25  116.87  56.74  ...    36.88  69.740  88.37  62.810  32.38  73.24
2018-01-26  117.78  56.92  ...    36.67  71.940  89.00  62.840  32.83  74.41
2018-01-29  116.38  55.88  ...    36.61  72.180  88.01  61.980  32.84  73.41
2018-01-30  114.99  56.09  ...    36.62  72.130  86.78  61.400  32.68  73.07
2018-01-31  115.62  56.63  ...    36.84  73.020  87.30  60.810  34.13  72.26
2018-02-01  115.57  55.21  ...    36.79  72.490  89.07  60.730  32.75  74.84
2018-02-02  111.64  54.89  ...    38.25  70.640  84.53  60.060  31.63  75.66
2018-02-05  109.84  54.15  ...    37.68  67.350  79.72  58.815  31.38  72.66
2018-02-06  112.62  53.00  ...    37.34  68.990  78.35  58.440  30.85  71.33
2018-02-07  110.54  53.19  ...    42.00  66.970  76.94  58.315  31.18  71.79
2018-02-08  104.88  52.59  ...    41.26  62.830  76.07  56.865  29.80  70.24
2018-02-09  105.94  55.42  ...    41.86  65.350  75.78  57.160  29.61  70.82
2018-02-12  108.38  55.07  ...    41.60  65.120  76.42  57.380  29.95  71.93
2018-02-13  109.79  55.25  ...    41.90  65.290  76.30  56.990  29.17  72.77
2018-02-14  109.92  54.68  ...    43.50  66.860  76.46  57.180  29.79  73.31
2018-02-15  113.52  56.26  ...    43.12  67.220  76.21  57.700  30.50  74.73
2018-02-16  112.95  56.32  ...    43.80  67.090  76.54  58.430  30.55  75.23
2018-02-20  114.27  55.08  ...    43.00  69.190  75.75  58.150  31.03  74.73
2018-02-21  112.37  54.40  ...    43.30  68.460  74.89  58.060  30.38  75.18
2018-02-22  112.39  54.59  ...    43.10  68.930  75.86  57.110  30.23  75.05
2018-02-23  115.03  56.35  ...    43.45  70.035  77.53  57.670  30.87  75.93
2018-02-26  116.92  55.75  ...    43.12  71.490  78.84  57.050  31.12  76.26
2018-02-27  116.12  54.89  ...    42.69  71.440  77.50  57.330  30.25  75.75
2018-02-28  117.47  54.30  ...    42.31  71.250  75.74  56.060  30.32  74.58
2018-03-01  114.74  53.96  ...    42.73  70.800  75.20  55.290  30.55  73.27


ticker       YHOO    YUM     ZBH   ZION
date
2017-03-01  46.24  65.57  118.89  46.53
2017-03-02  45.94  65.21  118.02  44.96
2017-03-03  45.91  65.03  118.28  45.36
2017-03-06  45.64  64.50  117.22  45.33
2017-03-07  45.73  64.02  117.07  45.28
2017-03-08  45.98  64.08  117.60  45.26
2017-03-09  45.94  63.81  119.18  45.28
2017-03-10  45.98  64.31  120.08  44.91
2017-03-13  46.57  64.38  119.79  45.03
2017-03-14  46.37  63.95  118.68  44.49
2017-03-15  46.29  63.91  119.65  44.07
2017-03-16  46.61  63.82  119.41  44.36
2017-03-17  46.59  63.87  121.67  43.76
2017-03-20  46.77  64.07  121.65  43.19
2017-03-21  45.77  63.73  120.98  40.84
2017-03-22  46.06  63.32  121.38  40.73
2017-03-23  46.60  63.18  120.40  40.89
2017-03-24  46.40  63.58  120.66  40.91
2017-03-27  46.40  63.51  120.29  40.78
2017-03-28  46.57  64.47  121.19  41.30
2017-03-29  46.78  64.05  121.37  41.32
2017-03-30  46.62  64.02  121.36  42.38
2017-03-31  46.41  63.90  122.11  42.00
2017-04-03  46.43  63.55  121.35  41.77
2017-04-04  46.23  63.84  120.77  41.66
2017-04-05  46.38  63.87  120.18  41.05
2017-04-06  46.28  64.55  120.20  41.50
2017-04-07  46.44  64.28  119.88  41.52
2017-04-10  47.21  64.13  120.03  40.93
2017-04-11  46.79  64.15  119.58  40.94
...           ...    ...     ...    ...
2018-01-18    NaN  83.10  122.19  52.86
2018-01-19    NaN  83.81  123.48  53.73
2018-01-22    NaN  84.91  126.20  54.16
2018-01-23    NaN  85.84  124.51  54.17
2018-01-24    NaN  85.24  125.02  53.74
2018-01-25    NaN  85.66  124.74  53.02
2018-01-26    NaN  86.20  126.23  54.02
2018-01-29    NaN  86.48  127.39  54.19
2018-01-30    NaN  84.59  125.94  53.93
2018-01-31    NaN  84.59  127.12  54.03
2018-02-01    NaN  83.98  128.19  54.98
2018-02-02    NaN  82.63  125.79  54.16
2018-02-05    NaN  79.80  123.18  51.92
2018-02-06    NaN  80.58  122.30  52.52
2018-02-07    NaN  80.13  120.78  54.02
2018-02-08    NaN  76.30  115.53  50.71
2018-02-09    NaN  79.31  116.39  51.62
2018-02-12    NaN  78.07  116.52  52.06
2018-02-13    NaN  77.77  115.93  51.96
2018-02-14    NaN  77.88  117.70  54.51
2018-02-15    NaN  78.97  119.79  54.75
2018-02-16    NaN  78.25  120.48  55.07
2018-02-20    NaN  78.08  118.72  54.97
2018-02-21    NaN  77.81  118.68  55.86
2018-02-22    NaN  78.32  117.58  54.72
2018-02-23    NaN  79.80  118.85  55.68
2018-02-26    NaN  80.57  119.88  56.29
2018-02-27    NaN  80.18  118.14  55.74
2018-02-28    NaN  81.38  116.25  54.97
2018-03-01    NaN  79.70  113.55  54.38

[253 rows x 449 columns]

In [24]:
sum([s2f(final_etf_data[0].iloc[i,5]) for i in range(len(final_etf_data[0]))])/etf_shares[-1]

98.27424253672399

## Notas

> Para los cálculos solo se están usando los activos de "Equity".

> En total tenemos 453 activos diferentes en el etf, quandl sólo permitió extraer 449.

> Las ponderaciones mensuales no van a dar 100%, debido a la ausencia de algunos activos.